@import "../src/theme/variables";

body {
    background-color: $off-white;
}

[data-fs-section-servicos] {
    padding: 2rem 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;

    @include obt-reposible-tablet() {
        padding: 2rem 3rem;
    }

    [data-fs-button] {
        max-width: 15rem;
        align-self: center;
    }

    [data-fs-section-servicos-title] {
        font-family: $font-primary;
        color: $marrom;
        font-size: 1.5rem;
        font-weight: 600s;
        margin: unset;
    }

    [data-fs-container-sevicos] {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 2rem 0;
        
        @include obt-reposible-tablet {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

[data-fs-banner-portifolio] {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
    padding: 2rem 1rem;
    box-sizing: border-box;
    background-color: $green;
    background-image: url("/images/bg-image.svg");

    [data-fs-container-banner-portifolio] {
        width: 100%;
        height: 100%;
        gap: 0.625rem;
        display: flex;
        flex-direction: column;

        h2 {
            margin: unset;
            font-size: 1.5rem;
            color: $off-white;
            font-family: $font-primary;
            font-weight: 600;
        }

        [data-fs-content-banner] {
            position: relative;
            width: 100%;
            height: 17.813rem;
            
            img {
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }
}