$screen-tablet: 45rem;
$screen-desktop: 65rem;

$green: #8B8355;
$marrom: #713F1E;
$dourado: #B79A65;
$bege: #E2D8CC;
$off-white: #FEF4E5;
$off-black: #1F1B18;

$font-primary: var(--font-manrope), 'Manrope', sans-serif;
$font-secondary: var(--font-cormorant), 'Cormorant Garamond', serif;

@mixin obt-reposible-tablet {
    @media (min-width: $screen-tablet) {
        @content;
    }
}